<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>
</head>
<body>
    <h1>Content</h1>
    <div style="height: auto;">
      <h3><%= newsContent.title %> <a href="/news">메인화면으로</a></h3>
      <img src="<%= newsContent.url %>" style="width: 290px; height: 475px;margin:0 auto;display: block;" alt="">
      <p><%= newsContent.rdate %></p>
      <p style="word-break: keep-all;"><%= newsContent.content %></p>
      <br><br><br><br><br><br>
    </div>
    <p>댓글</p>
    <hr>
    <div id="replyForm">
      <!-- <label>성명 : </label>
      <input type="text" name="name"><br>
      <label>내용 : </label> -->
      <textarea name="replyContent" id="replyContent" style="width: 90%;"></textarea><br>
      <button type="button" id="btnRegReply">등록완료</button>
    </div>
    <div id="replyTable">
          <%- include("reply",{reply}) %>
    </div>
</body>
<script>
  const btnRegReply = document.querySelector('#btnRegReply');
  btnRegReply.addEventListener('click', (e)=>{
    const replyContent = document.querySelector('#replyContent').value
    fetch(`/reply`,{
      method: "POST",
      headers: {'content-Type' : 'application/json'},
      body: JSON.stringify({replyContent : replyContent, nid:'<%= newsContent.nid %>'},)
    })
    .then((result)=>{
      if(result.status === 201){
          window.location.reload();
        }
    }).catch(console.error)
  })
</script>
</html>